<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>
  <div class="navbar">
<div class="logo">
  <h2>Dnews</h2>
</div>
  </div>
  <hr>
<div class="nav-category">
<ul>
  <a href=""><li>Sports</li></a>
  <a href=""><li>World</li></a>
  <a href=""><li>Economy</li></a>
  <a href=""><li>Entertainment</li></a>
  <a href=""><li>Trending</li></a>
  <a href=""><li>Technology</li></a>
</ul>
</div>
<section  class="latest-news">
<div class="heading">
  <h2>Latest Updates</h2>
</div>

<div class="news-div">
<!-- <%=articles%>
<% articles.forEach(function(article){ %>

               <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
                   <% } else{ %>
                       <a href="<%= article.url %>" target="_blank" class="news-box Hover-effect">

                           <img src="<%= article.urlToImage %>" alt="Image">
                           <h3>
                               <%= article.title %>
                           </h3>


                           <p>
                               <%= article.content %>
                           </p>
                           <br>



                       </a>
                       <% } %>
                       <% }) %> -->
<div class="news-box1">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2> create his $36billlion empires just through a simple package create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box2">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box3">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box4">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box5">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2> create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box6">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box7">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>


</div>

</section>

  </body>
</html>
