<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Better News</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div class="navbar">
<div class="logo">
  <h2>Better News</h2>
</div>
  </div>
  <hr>
<div class="nav-category">
<ul>
  <a href=""><li>Sports</li></a>
  <a href=""><li>World</li></a>
  <a href=""><li>Economy</li></a>
  <a href=""><li>Entertainment</li></a>
  <a href=""><li>Trending</li></a>
  <a href=""><li>Technology</li></a>
  <a href=""><li>Cricket</li></a>
</ul>
</div>
<section  class="latest-news">
<div class="heading">
  <h2>Latest Updates</h2>
</div>

<div class="news-div">
 
       
<div class="news-box1">

    <% if ((typeof articles2.url=='object') || (typeof articles2.title=='object') || (typeof articles2.urlToImage=='object') || (typeof articles2.content=='object')){ %>
      <% } else{ %>
        <a href="<%= articles2.url %>" target="_blank">
          <img src="<%= articles2.urlToImage %>" alt="Image">
          <h3>
              <%= articles2.title %>
          </h3>
          <p>
              <%= articles2.content %>
          </p>
        </a>
          <br>
          <% } %>
      
</div>
<div class="news-box2">
  <% if ((typeof articles3.url=='object') || (typeof articles3.title=='object') || (typeof articles3.urlToImage=='object') || (typeof articles3.content=='object')){ %>
    <% } else{ %>
      <a href="<%= articles3.url %>" target="_blank">
        <img src="<%= articles3.urlToImage %>" alt="Image">
        <h3>
            <%= articles3.title %>
        </h3>
        <p>
            <%= articles3.content %>
        </p>
      </a>
        <br>
        <% } %>
  
</div>
</div>

</section>

<div class="row-2">
  <% articles.forEach(function(article){ %>
    <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
      <% } else{ %>
        <a href="<%= article.url %>" target="_blank">
          <img src="<%= article.urlToImage %>" alt="Image">
          <h3>
              <%= article.title %>
          </h3>
          
          <p>
              <%= article.content %>
          </p>

          <br>
          <% } %>
      <% }) %>
    </a>
          </div>
  
<section>
  <div class="sports-section">
  <div class="heading">
  <h2>Cricket</h2>
  </div>
  <div class="sports-news">
 <% cricket.forEach(function(article){ %>
    <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
      <% } else{ %>
        <a href="<%= article.url %>" target="_blank">
          <img src="<%= article.urlToImage %>" alt="Image">
          <h3>
              <%= article.title %>
          </h3>
          
          <p>
              <%= article.content %>
          </p>

          <br>
          <% } %>
      <% }) %>
  </div>
  </div>

</section>
  </body>
</html>
